/* src/App.css */
.app-container {
  padding: 20px;
  max-width: 1500px;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

h3 {
  margin-bottom: 10px;
  color: #444;
  font-size: 1.5em;
  text-align: center;
  color: red;
  font-style: italic;
}

h4 {
  font-size: 1.2em;
  margin-top: 0px;
  margin-bottom: 5px;
  color: #555;
  text-align: center;
  color: red;
}

h5 {
  font-size: 1.1em;
  margin-top: 15px;
  margin-bottom: 5px;
  color: #666;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.search-container input[type="text"] {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 300px;
  transition: all 0.2s ease-in-out;
}

.search-container input[type="text"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.suggestions-list {
  list-style: none;
  margin-top: 10px;
  padding: 0;
  width: 320px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: lightgoldenrodyellow;
}

.suggestions-list li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}

.suggestions-list li:last-child {
  border-bottom: none;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.logout-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
  top: 25px;
  position: absolute;
  width: 100px;
}

.logout-button:hover {
  background-color: #0056b3;
}

.email-module {
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.email-module ul {
  padding-left: 20px;
}

.email-module ul li {
  list-style-type: disc;
}

.email-module p {
  margin: 5px 0;
}

.email-module h5 {
  margin-top: 0;
  color: #007bff;
}

.email-module ul {
  margin: 10px 0;
}

.email-module strong {
  display: inline-block;
  margin-bottom: 5px;
}

p {
  font-size: 0.95em;
  color: #666;
}

.loading-message {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  color: #666;
  margin-top: 20px;
}

.error-message {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  color: red;
  margin-top: 20px;
}